@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.UsersOnline{
    color:rgb(80, 119, 7);
    font-size: 2rem;
    margin-left: 7%;
    border: 2px solid gray;
    padding:2%;
    padding-top: 1px;
    font-family: 'Monoton', cursive;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.UsersOnline h2{
    color:rgb(158, 156, 52);
    font-size: 3rem;
    text-decoration-line:underline;
    letter-spacing: 4px;

}
.onlineUserIcon{
    width:15px;
    margin-bottom: 3%;

}
.user{

    border-bottom: 2px rgb(80, 119, 7);
    border-bottom-style: inset;
    
}

@media (min-width: 480px) and (max-width: 1200px) {
    .UsersOnline{
      width:40%;
      font-size: 1rem;
    }
    .UsersOnline h2{
        width:40%;
        font-size: 2rem;
      }
  }

  @media (max-width: 480px) {
    .UsersOnline{
        width:30%;
        font-size: 1rem;
        float:left;
      }
      .UsersOnline h2{
        width:30%;
        font-size: 1.1rem;
      }
  }